<!-- datos_origen.html -->
{% extends "index.html" %}

{% block title %}Datos del Censo{% endblock %}
{% block content %}
<!-- Contenido específico de la página de datos del censo -->
<div class="container">
    <h2>Datos del Censo de los clientes</h2>
    <table class="table">
        <thead>
            <tr>
                <th>code</th>
                <th>barrio_name</th>
                <th>edad</th>
                <th>hombres</th>
                <th>mujeres</th>
                <th>total</th>
                <th>g_edad</th>
            </tr>
        </thead>
        <tbody>
            {% for fila in tabla %}
            <tr>
                <td>{{ fila.code }}</td>
                <td>{{ fila.barrio_name }}</td>
                <td>{{ fila.edad }}</td>
                <td>{{ fila.hombres }}</td>
                <td>{{ fila.mujeres }}</td>
                <td>{{ fila.total }}</td>
                <td>{{ fila.g_edad }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}